<ion-content>
    <!-- Upper half -->
    <div id="top" padding>
        <ion-grid id="content--top">
            <ion-row id="content-header" align-items-center>
                <ion-col size="9" align-self-start><h1>Greeting</h1></ion-col>
                <ion-col size="3" align-self-end>Calendar button</ion-col>
            </ion-row>
        </ion-grid>
    </div>

    <!-- Lower half -->
    <div id="bottom" padding>
        <ion-grid id="content--bottom">
            <ion-row id="content-searchbar" align-items-center>
                <ion-col size="12" align-self-center>
                    <ion-searchbar showWhen="android,ios" mode="md"></ion-searchbar>
                </ion-col>
            </ion-row>

            <ion-row id="content-categories" align-items-center>
                <ion-col size="12" align-self-center>Categories</ion-col>
            </ion-row>

            <ion-row id="content-createEvent--card" align-items-center>
                <ion-col size="12" align-self-center>Create Event Card</ion-col>
            </ion-row>

            <ion-row id="content-talents--featured" align-items-center>
                <ion-col size="6" align-self-center>Talent 1</ion-col>
                <ion-col size="6" align-self-center>Talent 2</ion-col>
                <ion-col size="6" align-self-center>Talent 3</ion-col>
                <ion-col size="6" align-self-center>Talent 4</ion-col>
                <ion-col size="12" align-self-center>Discover More</ion-col>
            </ion-row>

            <ion-row id="content-eventBrowser" align-items-center>
                <ion-col size="12" align-self-center>Scrollable Segment for Events</ion-col>
            </ion-row>

            <ion-row id="content-talents" align-items-center>
                <ion-col size="6" align-self-center>Talent 1</ion-col>
                <ion-col size="6" align-self-center>Talent 2</ion-col>
                <ion-col size="6" align-self-center>Talent 3</ion-col>
                <ion-col size="6" align-self-center>Talent 4</ion-col>
                <ion-col size="6" align-self-center>Talent 5</ion-col>
                <ion-col size="6" align-self-center>Talent 6</ion-col>
                <ion-col size="12" align-self-center>Breakpoint for Infinite Scroll Refresher</ion-col>
            </ion-row>
        </ion-grid>
    </div>
</ion-content>
