<ion-header>
  <ion-toolbar color="primary">
    <ion-title>EDM Jumpers</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
		<ion-segment mode="md" color="secondary">
			<ion-segment-button checked><ion-label>Info</ion-label></ion-segment-button>
			<ion-segment-button><ion-label>Photos</ion-label></ion-segment-button>
			<ion-segment-button><ion-label>Videos</ion-label></ion-segment-button>
			<ion-segment-button>Reviews<ion-ripple-effect></ion-ripple-effect></ion-segment-button>
		</ion-segment>

	<ion-grid>
		<!-- SINGLE 12-COL ROW -->
		<ion-row align-items-center>
			<ion-col size="12">1</ion-col>
			<ion-col>2</ion-col>
			<ion-col>3</ion-col>
			<ion-col>4</ion-col>
			<ion-col>5</ion-col>
			<ion-col size="6" align-self-center class="ion-text-center"><ion-text>6</ion-text></ion-col>
			<ion-col>7</ion-col>
			<ion-col>8</ion-col>
			<ion-col>9</ion-col>
			<ion-col>10</ion-col>
			<ion-col>11</ion-col>
			<ion-col>12</ion-col>
		</ion-row>

		<!-- 12-ROW 1-COL GRID -->
		<ion-row>
			<ion-col>1</ion-col>
		</ion-row>
		
		<ion-row>
			<ion-col>2</ion-col>
		</ion-row>

		<ion-row>
			<ion-col>3</ion-col>
		</ion-row>

		<ion-row>
			<ion-col>4</ion-col>
		</ion-row>

		<ion-row>
			<ion-col>5</ion-col>
		</ion-row>

		<ion-row align-items-center>
			<ion-col size="6" align-self-center>6</ion-col>
		</ion-row>

		<ion-row>
			<ion-col>7</ion-col>
		</ion-row>

		<ion-row>
			<ion-col>8</ion-col>
		</ion-row>

		<ion-row>
			<ion-col>9</ion-col>
		</ion-row>

		<ion-row>
			<ion-col>10</ion-col>
		</ion-row>

		<ion-row>
			<ion-col>11</ion-col>
		</ion-row>

		<ion-row>
			<ion-col>12</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
